h1{
  font-style: oblique;
  background-color: #7ec0ee;
}

body{
  text-align: center;
  background-color: #D2B48C;
}


ul{
  font-weight: bold;
  list-style-type: none;
}


img{
  width: 800px;
  height: 500px;
}

table{
  text-align: center;
  width: 1000px;
  height: 1000px;
}
